img.link {
	height: 30px;
	width: 30px;
	/* margin-bottom: 10px; */
	border-radius: 5px;
	margin-right: 10px;
}

img.watcha {
	content: url(img/svg/ott/Watcha.svg);
}

img.netflix {
	content: url(img/svg/ott/Netflix.svg);
}

img.tving {
	content: url(img/svg/ott/Tving.svg);
}

img.appletvp {
	content: url(img/svg/ott/AppleTVP.svg);
}

img.coupangp {
	content: url(img/svg/ott/CoupangPlay.svg);
}

img.laftel {
	content: url(img/svg/ott/Laftel.svg);
}

img.wavve {
	content: url(img/svg/ott/Wavve.svg);
}
