.item:after {
	position: relative;
}

.item {
	/*border: 1px solid;*/
	margin-bottom: 10px;
	width: 180px;
	float: left;
	margin-left: 20px;
}

.name {
	position: absolute;
	visibility: hidden;
}

.poster {
	height: 240px;
	border-radius: 25px;
	margin-top: 10px;
	margin-bottom: 5px;
}

input {
	margin-bottom: 25px;
}
